body{
    margin: 0;
    background: linear-gradient(to left, #268a1d, #6b1d8a);
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center; /* 1 st way to bring the imems to center*/
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container{
    position: absolute;
    transform: translate(-50%,-50%);
    top:50%;
    left: 50%; /* 2 nd way to bring the imems to center*/
    letter-spacing: 0.01rem;
}

.anime-img{
    height:300px;
    width:300px;
    border-radius: 50%;
    border:3px solid green;
}

.container{
    background: rgba(255, 255, 0, 0.493);
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    text-align: center;
    padding: 10px;
    width: 450px;
    margin:5px;
}

.btn{
    background-color: #268a1d;
    color: aliceblue;
    padding: 10px 30px;
    font-size: 16px;
    margin-bottom: 30px;
    border-radius: 6px;
    border: 0;
    cursor: pointer;
}

.btn:hover{
    background-color: #6b1d8a;
    transition: 300ms ease-in;
    transform: scale(1.2);
}

.btn:disabled{
    background-color: gray;
    cursor: not-allowed;
}


.anime-name{
    margin:20px;
    background-color: green;
    color: aliceblue;
    padding: 10px;
    border-radius: 6px;
    font-size: 1rem;
}

.anime-container{
  display: none;
}